$font-12: 12px;
$font-16: 16px;
$font-18: 18px;
$font-14: 14px;
$font-20: 20px;
$font-25: 25px;
$font-30: 30px;
$font-40: 40px;
$font-50: 50px;
$font-80: 80px;

//font weights
$font-400: 400;
$font-500: 500;
$font-600: 600;
$font-700: 700;
$font-900: 900;

// color
$color-1: #f36347;
$color-2: #ffffff;
$color-3: rgba(7, 6, 11, 0.58);
$color-4: #272020;
$color-5: #958f8e;
$color-6: #f26347;
$color-7: #0000004d;
$color-8: #7c7ba74d;
$color-9: #989292;
$color-10: #17171b;
$color-11: #f8f7f7;
$color-12: #221a17;
$color-13: #96908f;
$color-14: rgba(0, 0, 0, 0.88);
$color-15: rgba(17, 19, 23, 0.68);
$color-16: #00000080;
$color-17: #211916;
$color-18: #b9b8d129;
$color-19: #0f1114;
$color-20: #676361;
$color-21: #fff5f4;
$color-22: #c9c9c9;
$color-23: #f47b63;
$color-24: rgba(255, 255, 255, 0.11);
$color-25: #f4846e;
$color-26: #fff4f0;
$color-27: #f72b03;
$color-28: rgba(255, 255, 255, 0.2);
$color-29: #7c7ba733;
$color-30: #e0e1e4;
$color-31: #eb644e;
